﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AdminDashboard.aspx.cs" Inherits="Projet_5.AdminDashboard" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
        <h2>Bonjour <%=user_type %> </h2>

    <div class="tb1">.
            <h2>Liste des utilisateurs à valider</h2>
        <asp:PlaceHolder ID="ph1" runat="server"></asp:PlaceHolder>
    </div>
    
    <div class="tb2">
        <h2>Liste des utilisateurs</h2>
        <asp:PlaceHolder ID="ph2" runat="server"></asp:PlaceHolder>
    </div>
    
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
