﻿.login-form {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 350px;
}

.logSubmit {
    width: 180px;
}

.whiteBack {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
}
