﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NotVerified.aspx.cs" Inherits="Projet_5.NotVerified" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <center><h2>Votre profil n'a pas encore été validé par l'administrateur</h2></center>
    <form id="form1" runat="server">
        <div>
        </div>
        <center><asp:Button ID="logoutButton" Text="Déconnexion" onclick="disconnect_User" runat="server"/></center>
    </form>
</body>
</html>
