﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="YourDashboard.aspx.cs" Inherits="Projet_5.YourDashboard" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <h2>Bonjour <%=@Session["prenom"] %> <%=@Session["nom"] %> vous etes un  <%= user_type %> </h2>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:Button ID="logoutButton" Text="Déconnexion" onclick="disconnect_User" runat="server"/>
    </form>
    
</body>
</html>
