body{
    margin: 0;
    padding: 0;
}
.bg-light {
    background-color: #f8f9fa8c!important;
}
#nav_1{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
}
section{
    width: 100%;
    height: 100vh;
}
.jumbotron{
    height: 587px;
}
.display-4{
    margin-top: 6%;
}
.modal-header{
    margin-left: 37%;
    border-bottom:hidden;
}
.modal-footer{
    justify-content: center;
    border-top:hidden;
}
.btn-block+.btn-block {
    margin-top: 0;
}
#register_head{
    margin-left: 41%;
}
#register_gender{
    margin-left: 28%;
}
#label_register_gender{
    margin-top: 1%;
    margin-right:10px ;
}
#register_mod{
    margin-left:auto;
    margin-block-start:-60px;
}
.annonce-title{
    font-weight: bold;
    margin-top: 20px;
}
.marge-bot{
    margin-left: 80%;
    margin-bottom: 20px;
}
.wrapper{

    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #3490DC;
    padding: 30px 0;
    margin-top: -3%;
}
.wrapper .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: white;
    display: block;
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
}
.offer-form{
    width: 65%;
}