body{
    height: 1px;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}
.formSurvey{
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 700px;
}
p.spacer{
    line-height:0px;
}
.white_back{
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 70%;
    height: 90%;
    background-color: white;
}
.h1_p1{
    text-align: center;
    margin-top: 10%;
}
 .noresize {
     resize: none;
 }
 .h5_res{
     margin-top: -1%;
     margin-bottom: -1%;
     text-align: center;
 }
 .p_res{
     margin-bottom: 3%;
     margin-top: 5%;
 }